.span9 form .TitleBlue {
  font-family: interstate, sans-serif;
}
.span9 form article {
  margin-bottom: 20px;
  margin-top: 10px;
}
.span9 form article table td.SimpleTableHeader {
  color: #4c4c4c;
  font-size: 13px;
}
.span9 form article table .SimpleTableHeader td {
  color: #4c4c4c;
  padding-top: 16px;
  font-size: 13px;
}
.span9 form article table th {
  background-image: none !important;
  background-color: rgba(87, 87, 87, 0.9);
}
