form .span9 h1 {
  border-bottom: 1px solid #bfbfbf;
  font-family: interstate, sans-serif;
}
form .span9 p a {
  color: #117377;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 13px;
}
form .span3 .sidebar h3 {
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 16px;
  font-family: interstate, sans-serif;
}
form .span3 .sidebar a {
  color: #117377;
  font-weight: normal;
}
@media (max-width: 450px) {
  form .row-fluid .span3 {
    width: auto;
  }
  form .row-fluid .span9 {
    width: auto;
    min-width: 316px;
  }
}
